.box {
    width: 400px;
    height: 400px;
    background-color: lightblue;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    transition: all 3s linear 1s;
}
.box:hover{
    /* transform: rotate(45deg) */
    /* transform:scale(2); */
    /* transform: rotate(-45deg); */
    /* transform: skew(45deg); */
    /* transform: skew(-45deg); */

    transform: translate(500px, 500px);
}

p{
            font-size: 36px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}