*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100%;
    color:aliceblue;
   
}

.items{
    height:150px;
    width:150px;
    background-color: rgb(189, 109, 109);
    border: 3px solid black;
    padding:2rem;
}

.container{
    background-color: rgb(137, 127, 127);
    padding:5rem;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 1.5em;
}

#rotateX:hover{
    transform: rotateX(45deg);
}

#rotateY:hover{
    transform: rotateY(-45deg);
}

#rotateZ:hover{
    transform: rotateZ(45deg);
}

#translateX:hover{
    transform: translateX(100px);
}

#translateY:hover{
    transform: translateY(-100px);
}

#translateZ:hover{
    transform: perspective(1000px) translateZ(100px);
}

#scaleX:hover{
    transform: scaleX(1.5);
}

#scaleY:hover{
    transform: skewY(20deg);
}

#scaleZ:hover{
    transform: perspective(300px) scale(1.5) rotateY(30deg);
}